.inputSection {
    text-align: center;
}

section div {
    display: inline-block;
}

.inputDiv label {
    display: block;
}
.container {
    text-align: center;
    border-style: solid;
    max-width: 480px;
    min-height: 50px;
}

.output {
    text-align: center;
    
}

.addPlanetInput {
        text-align: center;
        padding-top: 30px;
}

.addPlanet {
    display: inline-block;
}

.addPlanet label {
    display: block;
}

.new-output {
    text-align: center;
}

.checkPluto {
    text-align: center;
}

.inputs {
    width: 200px;
    max-width: 200px;
}
